In [1]:
import pandas as pd
data = pd.read_csv("C:/Users/student/Desktop/house_price.csv")
print(data)

                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

In [2]:
data.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [4]:
data = data.drop(['date','country'],axis = 1)

In [5]:
data

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133
1,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119
2,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042
3,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008
4,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133
4596,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007
4597,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059
4598,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178
4599,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          4600 non-null   float64
 1   bedrooms       4600 non-null   float64
 2   bathrooms      4600 non-null   float64
 3   sqft_living    4600 non-null   int64
 4   sqft_lot       4600 non-null   int64
 5   floors         4600 non-null   float64
 6   waterfront     4600 non-null   int64
 7   view           4600 non-null   int64
 8   condition      4600 non-null   int64
 9   sqft_above     4600 non-null   int64
 10  sqft_basement  4600 non-null   int64
 11  yr_built       4600 non-null   int64
 12  yr_renovated   4600 non-null   int64
 13  street         4600 non-null   object
 14  city           4600 non-null   object
 15  statezip       4600 non-null   object
dtypes: float64(4), int64(9), object(3)
memory usage: 575.1+ KB

In [7]:
#CONVERTING NON NUMERIC TO NUMERIC DATA
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
data['city'] = lb.fit_transform(data['city'])
data['statezip'] = lb.fit_transform(data['statezip'])
data['street'] = lb.fit_transform(data['street'])

In [8]:
data

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,1522,36,62
1,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,3899,35,58
2,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,2291,18,26
3,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,4263,3,7
4,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,4352,31,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,3447,35,62
4596,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,960,3,6
4597,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,4033,32,37
4598,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,3498,35,71
4599,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,1514,9,26

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          4600 non-null   float64
 1   bedrooms       4600 non-null   float64
 2   bathrooms      4600 non-null   float64
 3   sqft_living    4600 non-null   int64
 4   sqft_lot       4600 non-null   int64
 5   floors         4600 non-null   float64
 6   waterfront     4600 non-null   int64
 7   view           4600 non-null   int64
 8   condition      4600 non-null   int64
 9   sqft_above     4600 non-null   int64
 10  sqft_basement  4600 non-null   int64
 11  yr_built       4600 non-null   int64
 12  yr_renovated   4600 non-null   int64
 13  street         4600 non-null   int32
 14  city           4600 non-null   int32
 15  statezip       4600 non-null   int32
dtypes: float64(4), int32(3), int64(9)
memory usage: 521.2 KB

In [16]:
#SPLITTING THE DATA INTO TARGET AND FEATURE
y = data['price']
x = data.drop('price',axis = 1)
x
from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler()
processed_x = scaler.fit_transform(x)
# processed_x = pd.DataFrame(processed_x)
# processed_x

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.333333,0.18750,0.073652,0.006775,0.2,0.0,0.0,0.50,0.107301,0.000000,0.482456,0.995531,0.336428,0.837209,0.815789
1,0.555556,0.31250,0.249051,0.007835,0.4,0.0,1.0,1.00,0.331858,0.058091,0.184211,0.000000,0.861848,0.813953,0.763158
2,0.333333,0.25000,0.118451,0.010534,0.0,0.0,0.0,0.75,0.172566,0.000000,0.578947,0.000000,0.506410,0.418605,0.342105
3,0.333333,0.28125,0.123766,0.006885,0.0,0.0,0.0,0.75,0.069690,0.207469,0.552632,0.000000,0.942308,0.069767,0.092105
4,0.444444,0.31250,0.119210,0.009186,0.0,0.0,0.0,0.75,0.085177,0.165975,0.666667,0.989076,0.961981,0.720930,0.407895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.333333,0.21875,0.086560,0.005330,0.0,0.0,0.0,0.75,0.126106,0.000000,0.473684,0.982622,0.761936,0.813953,0.815789
4596,0.333333,0.31250,0.082764,0.006460,0.4,0.0,0.0,0.50,0.120575,0.000000,0.728070,0.997517,0.212202,0.069767,0.078947
4597,0.333333,0.31250,0.200456,0.005939,0.4,0.0,0.0,0.50,0.292035,0.000000,0.956140,0.000000,0.891468,0.744186,0.486842
4598,0.444444,0.25000,0.130600,0.005581,0.0,0.0,0.0,0.50,0.077434,0.211618,0.649123,0.000000,0.773210,0.813953,0.934211
4599,0.333333,0.31250,0.085042,0.006952,0.4,0.0,0.0,0.75,0.123894,0.000000,0.789474,0.000000,0.334660,0.209302,0.342105

In [31]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 10) #taking any 15 relevant features out of 31 features 
x_pca = pca.fit_transform(x)
x_pca = pd.DataFrame(x_pca)
x_pca

,0,1,2,3,4,5,6,7,8,9
0,-6947.628907,-768.942464,-1166.903643,894.426284,-326.352557,13.135477,-15.922495,-0.557821,0.089743,-0.022378
1,-5786.649526,1673.779644,2282.403556,-238.760421,-313.330740,79.602985,8.441066,1.822395,-1.274466,3.105535
2,-2905.736517,6.184505,125.140561,-832.431740,-310.206042,7.742980,17.598274,1.977422,-0.172604,-0.235461
3,-6828.267713,1989.130013,-333.558414,-886.834916,942.387051,-24.395049,35.821769,6.948248,-0.117014,-0.614554
4,-4359.358710,2091.233893,-868.108318,1008.515086,547.622217,-32.864492,-2.151012,-8.142974,0.836315,0.292977
...,...,...,...,...,...,...,...,...,...,...
4595,-8499.336262,1159.483687,-963.968719,902.133177,-396.601313,13.656362,-14.711663,1.706537,0.186017,-0.041681
4596,-7284.839014,-1326.756669,-989.447081,951.780213,-339.714944,-39.715211,28.117747,5.018947,-0.086357,0.196112
4597,-7828.317015,1780.880333,1580.995847,-458.393419,-558.871647,-10.381234,-15.051048,-3.336140,-0.477050,-0.729891
4598,-8226.705177,1227.059882,-194.100908,-840.078101,965.552528,1.618813,-32.279979,5.560001,0.763088,-0.298290
4599,-6754.746576,-787.932327,-421.565612,-975.370780,-210.746935,-20.060797,9.310811,9.570963,0.018704,0.175323

In [18]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(processed_x,y,test_size = 0.2, random_state = 42)

In [19]:
#linear regression
# from sklearn.linear_model import LinearRegression
# model_lr = LinearRegression()
# model_lr.fit(xtrain,ytrain)

In [20]:
#support vector regression
# from sklearn import svm
# model_svm = svm.SVR()
# model_svm.fit(xtrain,ytrain)
# ypred_svm = model_svm.predict(xtest)
# model_svm.score(xtrain,ytrain)
# model_svm.score(xtest,ytest)

In [21]:
#decision tree regressor
from sklearn.tree import DecisionTreeRegressor
model_dt = DecisionTreeRegressor()
model_dt.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [22]:
ypred_lr = model_dt.predict(xtest)
print(ytest, ypred_lr)

3683      544000.0
4411           0.0
2584     1712500.0
69        365000.0
1844      275000.0
           ...
1612      750000.0
1068      230000.0
4350    26590000.0
3027      687000.0
3455      289659.0
Name: price, Length: 920, dtype: float64 [ 518000.        430000.        819000.        345000.
  218000.        749950.        501000.        289000.
  464900.        659000.        625000.        475000.
  720000.        300000.        279900.        542500.
  510000.       1225000.       1075000.        865000.
       0.        402500.        396500.        530000.
  329445.        398000.        749000.       1256500.
  429000.       1370000.        195000.        498000.
  569950.        359500.        452000.        880000.
  525000.             0.        195000.        630000.
  339950.        510000.        313000.        460000.
  258000.        245000.        247000.        619000.
 1195000.        749000.       2000000.        549000.
  675000.        425000.        108333.333333  430000.
 1165000.             0.        670000.        455500.
  672500.        739900.        279000.        989000.
  478000.        345000.        760000.        620000.
  295000.        289000.        835000.        313000.
  284000.        725000.        349500.       1145000.
  402000.       1365000.        375000.        362500.
 1300000.        465000.        532500.        745000.
  465000.        196500.        410000.        970500.
 1165000.        412500.        537500.        320000.
  240500.        409500.        739900.       1619999.
  826000.       1190000.        198000.        518000.
  630000.        575000.        276000.        400000.
  550000.        563000.        648475.        529000.
  620000.        515000.        736000.        535000.
  210000.        409950.        599950.        635000.
  488800.        695000.        432500.        565000.
  794154.        232333.333333 1080000.        475000.
  650000.        519950.       1920000.        270000.
  654000.        458000.        310000.        442500.
  635000.        328423.        475000.        356000.
  490000.        335950.        735000.       1600000.
  690000.        280000.        514000.        406100.
  589900.       1190000.        277000.        561000.
  257950.        374000.        420000.        757000.
  370000.        355000.       1400000.        625000.
 1680000.        651000.        558000.        325000.
  280000.        535000.        437500.        455600.
  510000.        335000.       1125000.        145000.
  646000.        725000.        490000.        229000.
 1050000.        355000.        554950.       1195000.
  419000.        963000.        355000.        204950.
  236000.        173000.        684680.        268000.
  289000.       1610000.        558000.        289950.
  561000.        385000.        730000.        464500.
  424000.        525000.        416000.       2700000.
  610000.        599950.        322500.        168333.333333
  345000.        425000.        157500.        605000.
  425000.        351999.       1190000.        500324.
  320000.       2400000.        610000.        210614.285714
  555000.        525000.        565000.        362000.
  253500.        439900.        480000.        554000.
  820000.        739900.        275500.        473200.
  950000.        425000.        450000.        512500.
  232333.333333  535000.        183000.        489200.
  325000.        546000.             0.        699000.
 1212500.        385000.        215000.        399000.
 1065000.        542500.        442500.        350000.
  374000.        450800.        250000.        254500.
  518000.        350000.        375000.        321500.
  355000.        249000.        274950.             0.
  441750.        740000.        514000.        450000.
  385000.        535000.        279900.        243069.230769
  615000.        485000.        645000.        257950.
  257950.        239950.       1050000.        279000.
  520000.       1205000.        449500.        214750.
  410000.        560000.        723000.        249900.
  500000.        210614.285714  566000.        566000.
  375000.        244000.        575000.        233166.666667
 1325000.        479000.        368000.        375000.
  384400.        700000.        535500.        537500.
 1370000.        751000.        245000.        199000.
  534500.        420000.        200000.        525000.
  852500.        545000.        199990.        280000.
  501000.        618500.       2888000.        740000.
  715000.        765000.        620000.        320000.
  155000.        289950.       1030000.        290000.
  495000.        518000.        488800.        399000.
  357500.        430000.        305000.        290000.
  545000.        515000.        395000.        494000.
  473200.        742000.        575000.        362500.
  553650.       1365000.        309000.        850000.
  310000.        247000.        270000.        435000.
  913000.        400000.        465425.        963000.
  335000.        269500.        171000.        246000.
  542500.        437000.        445000.        496000.
  353000.        826000.        337000.        691500.
  405000.        600000.       1288333.33333   900000.
  479500.        750000.        875000.       1000000.
  670000.        136500.        609000.        378500.
  455000.        360000.        451555.        527000.
  308000.       1059500.        385000.        370000.
  515000.        490000.        249000.        533000.
  278900.        225000.        700000.        920000.
  405000.        368000.        268500.        410000.
  308000.       1195000.        275000.        725000.
  681000.        699850.        380000.        268971.875
  460000.        535000.       2367000.        328211.904762
  620000.        475000.        315000.        325900.
  350000.        529950.        545000.        537500.
  149500.        530000.        660000.       1300000.
  320000.        782900.             0.        255000.
  566000.        405100.        586500.        591000.
  744000.        230000.        415000.        235000.
  385000.        312000.        210000.        749950.
  545000.        382000.        542500.        477000.
  610000.        255000.        250000.        770000.
  407000.        505000.        419000.        640000.
  457000.        500000.        251000.        765000.
 1337044.2       835000.        495000.        671000.
  885000.        150000.        325900.        430000.
  438000.       1070000.        525000.        502000.
  263400.        625000.        312000.        402500.
  250000.       2700000.        405000.       1120000.
  540000.        941500.        371000.        702500.
  299950.        490000.        550607.142857  599950.
  449990.        715000.        299950.        513000.
  279000.        435000.        611000.        751750.
  593000.        414000.        598000.        310000.
  900000.        364000.        232333.333333  580000.
  599000.        245000.        150000.        230000.
  234975.        510000.        300000.        256000.
  440000.        391000.        205000.        310000.
  460000.        671000.        445000.        415500.
  640000.        315275.        389000.             0.
  715000.       1184000.        675000.        458000.
  554000.        375000.        291000.        525000.
  285000.        599950.        213400.        286800.
  473200.        108333.333333 1085000.        215500.
  320000.        440000.        215000.        600000.
  395000.        578000.        305495.        334990.
 1038000.        580000.        442500.        320000.
  745641.        233500.        215500.        400000.
  149500.        915000.        484998.        635000.
  315000.        599000.        459000.        210000.
  696000.        659000.        152000.        480000.
  330000.        850000.        300000.        505000.
  274900.        331366.666667  229950.        735000.
  160000.        387000.        569000.        565000.
       0.        590300.        999000.        475000.
  535000.        625000.        484998.        499000.
  883000.        865000.        445838.        330000.
  232500.        317000.        565000.             0.
  430000.        324900.        317000.        495000.
 1060000.        251750.        640000.        569950.
  455000.        214750.        345000.        527700.
  309780.        210000.        419000.        295000.
  410000.        339950.        425000.        255000.
  430000.        148000.        749950.        875000.
  734990.        340000.        385000.        960000.
  450000.        429900.        900000.        555000.
  486445.833333 1256500.        255000.       1150000.
  366000.        691000.        660500.        550000.
  554729.        255000.        600000.        687000.
  850000.        645000.        575000.        416000.
  370000.        517000.        585000.        557500.
  370000.        375000.        542500.       1000000.
  580135.        336500.        465250.        800000.
  718500.        206000.        498000.        535000.
  495000.        739000.        430000.        645000.
  350000.        320000.        739000.       1080000.
  266200.        250000.        589500.        189000.
  345000.        320000.        300000.        799000.
  624800.        537000.        297500.        497333.333333
  640000.        450000.        481000.        940000.
  360000.        970000.        870000.        569000.
  384900.       1440000.        395000.        345000.
  488000.        630000.        350000.        831000.
  396500.        330000.        830000.        419000.
  485000.        650000.        542500.       1240000.
  347500.        449950.        234975.        357562.
  575000.             0.        496000.        383000.
  646212.5      1325000.        420000.        537000.
  660500.        600000.        345100.        334888.
  640000.        794154.       1320000.        397500.
  385000.        160000.        215000.        525000.
  402000.        244000.        560000.        482500.
  609000.        860000.        696000.        739888.
  381000.        425000.        265950.        294700.
  400000.        265000.        670000.        940000.
       0.        665000.        899900.        725000.
  615000.       1795000.        235000.        475580.
  475300.        298450.        368000.        413000.
  328500.        555000.        655275.        365500.
  362000.        554000.        294999.        355000.
  575000.        410000.        647500.        530000.
  480000.        530000.        352500.        405000.
  798800.       2005000.        641000.       1010000.
  900000.        254000.        420000.        230000.
  127160.        970500.        365000.        542000.
  387500.        264000.        362300.        545000.
  127160.        505000.       1755000.        485000.
  108333.333333  685000.        809950.        518500.
  830000.        370000.        330000.        245000.
  955000.        326500.        415000.        515000.
  249950.        420000.        499500.        407193.
  545000.        657500.        511500.        556000.
  550000.        490000.        902000.        604000.
  488000.       1500000.        225000.       1070000.
  550000.       1300000.        550000.        224000.
  221000.        294700.        735000.        320000.
  460000.        406500.        599000.        535000.
  640000.        810000.        132250.        410000.
  583000.        749000.        554729.        300000.
  449500.        365000.        525000.        399950.
  320000.        438000.        560000.             0.
  328211.904762  450000.        660000.       1600000.
  660000.        381000.        371000.        300000.
  278900.        285000.             0.        221000.
  327500.        320000.        410000.        165000.
 1300000.        250000.        989000.        749000.
  258000.        435000.        585000.       1625000.
  800000.        787000.        585000.        362500.
 1220000.        902000.        475000.        435000.
  495000.        340000.        299950.        925000.
  285000.        775000.        900000.        543200.
  555000.        309780.       2466350.        383000.
 1050000.       1015000.       1180000.        729032.
  489950.        315000.        325187.5       295000.
  285000.        236000.       1339000.        136500.
  305000.        555000.        410000.        330000.
  280000.       1575000.        265000.        390000.
  499500.        291500.        265000.        490000.
  565000.        559000.        239950.        313000.
  492650.        385000.        485000.        554950.
  250000.        550000.        268971.875     565000.
  308000.        250000.        684680.        330000.      ]

In [23]:
model_dt.score(xtrain,ytrain)

0.9999963547769303

In [24]:
model_dt.score(xtest,ytest)

0.003806289817863462

In [25]:
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score

In [26]:
print(mean_absolute_error(ypred_lr,ytest))

213042.64317699458

In [27]:
print(mean_squared_error(ypred_lr,ytest))

1015964509346.8964

In [28]:
print(r2_score(ypred_lr,ytest))

-7.923973789037165